.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1vw;
  width: 35vw;
  height: 65%;
  border-radius: 0.66144rem;
  pointer-events: all;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #070707 0%,
    rgba(7, 7, 7, 0.96) 100%
  );
  .button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    div{
        display: flex;
        align-items: center;
        gap: 1vw;
        padding: 0.5vw;
        border-radius: 0.25rem;
        border: 0.4px solid #E1E1E1;
        background: rgba(225, 225, 225, 0.17);
        font-family: var(--font-satoshi);
        font-size: 1vw;
        color: #E1E1E1;
        cursor: pointer;
        svg{
            width: 1.1vw;
            height: 1.1vw;
        }
    }
  }
}

.menuHead {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 1vw;
  padding-bottom: 0;
  text-transform: uppercase;
  .smallIcon{
    position: absolute;
    z-index: 1;
    right: 0.8vw;
    top: 0.3vw;
    cursor: pointer;
    img{
      width: 1.5vw;
      height: auto;
    }
  }
  .headBorder {
    position: absolute;
    top: 0;
    width: 6vw;
    height: 0.4vw;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

.body{
    width: 100%;
    height: 100%;
}

.police {
    .menuHead {
      .headBorder {
        background-color: #1fa2ec;
        box-shadow: 0px 0px 8vw 0.9vw #1fa2ec;
      }
    }
}

.ambulance {
    .menuHead {
      .headBorder {
        background-color: #ff3939;
        box-shadow: 0px 0px 8vw 0.9vw #ff3939;
      }
    }
}
