.body {
  width: 100%;
  height: 100%;
  padding: 0 1vw 1vw 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.header {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3vw;
  h3 {
    font-family: var(--font-satoshi);
    color: #d1d1d1;
    font-size: 1.4vw;
  }
  p {
    color: #fff;
    font-size: 1vw;
    font-family: var(--font-satoshi);
    font-weight: 300;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.search {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
  padding: 1vw;
  border-radius: 0.5rem;
  border: 1.109px solid rgba(255, 255, 255, 0.08);
  background: rgba(217, 217, 217, 0.04);
  svg {
    width: 4%;
    height: auto;
  }
  input {
    width: 96%;
    background: none;
    border: none;
    color: #fff;
    font-size: 1vw;
    font-family: var(--font-satoshi);
    font-weight: 300;
    outline: none;
    &::placeholder {
      font-weight: 500;
    }
  }
}

.camList {
  width: 100%;
  height: 50%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0vw;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1vw;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1vw;
  }
}

.camItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
  border-radius: 0.208rem;
  border: 1.109px solid rgba(255, 255, 255, 0.08);
  background: rgba(217, 217, 217, 0.04);
  margin-bottom: 0.5vw;
  .left{
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
    .icon{
        svg{
            width: 2vw;
            height: auto;
        }
    }
    .camInfo{
        h3{
            font-family: var(--font-satoshi);
            color: #fff;
            font-size: 1.2vw;
        }
        p{
            color: #CFCFCF;
            font-size: 0.8vw;
            font-family: var(--font-satoshi);
            font-weight: 300;
        }
    }
  }
  .right{
    display: flex;
    align-items: center;
    justify-content: center;
    .camButton{
        display: flex;
        align-items: center;
        gap: 0.5vw;
        div{
            svg{
                width: 2vw;
                height: auto;
                cursor: pointer;
            }
        }
    }
  }
}
