@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url(./fonts/GILROY-EXTRABOLD.OTF);
}

@font-face {
    font-family: "Brothership";
    src: url(./fonts/Brothership.ttf);
}

:root {
    --bar-color-1: #702c39;
    --bar-color-2: #225555;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    user-select: none;
    background: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url("image/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.tab-wrapper {
    height: 76%;
    width: 78%;
    flex-direction: column;
    border-radius: 2vh;
    display: flex;
}

.boss-details {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1vh;
    justify-content: center;
}

.boss-menu-title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.boss-title {
    height: 100%;
    color: #67d5c9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    padding-left: 1vh;
    font-family: "Brothership";
}

.header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    height: 50%;
    width: 90%;
    border-radius: 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.692);
}

.emp-list,
.recruit-list,
.boss-inv,
.outfit-list,
.company-list {
    cursor: pointer;
    height: 100%;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.emp-list:before,
.recruit-list:before,
.boss-inv:before,
.outfit-list:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    height: 56%;
    border-right: 2px solid white;
}

.emp-list:hover:after,
.recruit-list:hover:after,
.boss-inv:hover:after,
.outfit-list:hover:after,
.company-list:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 2vh;
    height: 50%;
    width: 70%;
    border-bottom: 5px solid white;
}

.main {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee-cont,
.company-money,
.recruit-emp {
    height: 95%;
    width: 95%;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
}

.employee-cont {
    align-items: center;
    justify-content: center;
}

.recruit-emp {
    display: none;
}

.company-money {
    display: none;
}

.recurit-title {
    height: 100%;
    font-family: "Gilroy ExtraBold";
    font-size: 3vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2vh;
    text-transform: uppercase;
    width: 80%;
    padding-left: 25vh;
}

.employ-title,
.company-title {
    height: 15%;
    width: 100%;
    font-family: "Gilroy ExtraBold";
    font-size: 3vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2vh;
    text-transform: uppercase;
}

.head-details {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: end;
    font-size: 2vh;
    font-weight: 700;
    gap: 1vh;
}

.boss-icon {
    height: 5.5vh;
    width: 5vh;
    font-size: 3vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.employee-box-container {
    height: 85%;
    display: flex;
    width: 100%;
}

.emp-box-chart {
    height: 62%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart-box {
    transition: 0.2s ease-in-out;

    background-color: #16151533;
    border-radius: 2vh;
    height: 30vh;
    width: 40vh;
    border: 2px solid rgba(56, 56, 56, 0.125);
    box-shadow: rgba(19, 19, 34, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(4, 11, 19, 0.35) 0px -2px 6px 0px inset;
}

.chart-box:hover {
    transform: scale(1.03);
}

.company-cont {
    height: 85%;
    width: 100%;
    display: flex;
}

.company-left-cont {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-right-cont {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.quick-action-box {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flip-card-company {
    height: 25vh;
    width: 37vh;
    background-color: #ffffff1f;
    border-radius: 2vh;
    border: 2px solid rgba(56, 56, 56, 0.125);
    box-shadow: rgba(19, 19, 34, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(4, 11, 19, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}

.flip-card-company:hover {
    transform: scale(1.03);
}

.company-card-title,
.company-card-number,
.company-available-balance {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atm-chip-image {
    height: 50%;
    padding-right: 2vh;
}

.card-title {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-balance {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-company-name {
    font-size: 1.4vh;
    color: #c8a766;
}

.company-card-number {
    font-size: 3vh;
    font-family: "Gilroy ExtraBold";
    letter-spacing: 1vh;
    color: #ffffffb4;
}

.amount-title {
    font-size: 1.5vh;
    color: #ffffff8a;
}

.amount-value {
    font-size: 2vh;
    color: #fff;
}

.company-take-actions {
    height: 20%;
    width: 100%;
}

.company-actions-btns {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.amount-btn {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
}

.amount-btn .label {
    font-size: 15px;
    padding-left: 50px;
    position: absolute;
    top: 10px;
    transition: 0.3s;
    pointer-events: none;
}

.input {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.amount-btn .input:valid ~ .label,
.amount-btn .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
}

.amount-btn .input:valid,
.amount-btn .input:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.withdraw-btn,
.deposit-btn {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.withdraw-btn:hover,
.deposit-btn:hover {
    background-color: #ffffffd8;
    color: #171717;
    box-shadow: 3px 3px 10px rgb(255, 255, 255),
        -1px -1px 6px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.company-account-activity {
    height: 75%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    align-items: center;
    border-radius: 2vh;
    border: 1px solid white;
    padding-left: 5vh;
}

.company-activity-box {
    height: 75%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    font-family: "Poppins", sans-serif;
    gap: 2.6vh;
    place-items: center;
    overflow: scroll;
    justify-items: center;
    justify-content: center;
    padding-top: 1vh;
}

.company-activity-box::-webkit-scrollbar {
    display: none;
}

.quick-action-btns {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quick-action-title {
    height: 30%;
    width: 100%;
    font-size: 2.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Gilroy ExtraBold";
}

.activity-box {
    width: 22vh;
    height: 5vh;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.action-text {
    padding-left: 2vh;
    font-size: 2vh;
    font-weight: 900;
}

.action-value {
    padding-right: 2vh;
    font-size: 2vh;
    color: #c8a766;
    overflow: hidden;
}

.recruit-players-list {
    height: 85%;
}

.players-list {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 6fr);
    grid-template-rows: repeat(6, 1fr);
}

.players-list::-webkit-scrollbar {
    display: none;
}

.player-box {
    height: 7vh;
    width: 40vh;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
    justify-content: space-between;
}

.player-box:hover {
    transform: scale(1.03);
}

.player-id-recruit,
.player-name-recruit {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #e0e6eeeb;
    font-size: 1.6vh;
    padding: 1vh;
}

.player-name-recruit {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #e0e6eeeb;
    font-size: 1.6vh;
}

.recruit-btn-cont {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recruit-btn {
    background-color: #c5c5b9;
    height: 50%;
    width: 85%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #4bd0be3f;
    border: 1px solid #4bd0be85;
    border-radius: 5px;
    font-size: 1.2vh;
    color: rgba(255, 255, 255, 0.747);
}

.recruit-btn:hover {
    transform: scale(1.04);
    background-color: #ffffff2d;
    border: 1px solid rgba(255, 255, 255, 0.212);
}

.app-div {
    display: flex;
    height: 15%;
    width: 100%;
}

.app-form-btn-cont {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-form-btn {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 40%;
    width: 65%;
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    align-items: center;
    border-radius: 1vh;
    font-size: 1.5vh;
    justify-content: center;
    color: rgba(255, 255, 255, 0.788);
}

.app-form-btn:hover {
    background-color: #4bd0be3f;
    border: 1px solid #4bd0be85;
    cursor: pointer;
    color: white;
}
.manage-box-container {
    width: 28vh;
    position: absolute;
    height: auto;
    border-radius: 1vh;
    flex-direction: column;
    padding: 1vh;
    background-color: #ffffff05;
    display: none;
    border: 1px solid #ffffff30;
    top: 25vh;
    max-height: 50vh;
    backdrop-filter: blur(20px);
}

.manage-job-box {
    height: auto;
    max-height: 40vh;
    width: 100%;
    margin-bottom: 1vh;
    border-radius: 1vh;
    padding: 1vh;
    overflow: scroll;
}

.manage-job-box::-webkit-scrollbar {
    display: none;
}

.fire-btn-container {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.fire-button {
    height: 3.5vh;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.4vh;
    justify-content: center;
    color: rgba(255, 255, 255, 0.788);
}

.cancel-button {
    height: 3.5vh;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.4vh;
    justify-content: center;
    color: rgba(255, 255, 255, 0.788);
}

.cancel-button:hover,
.fire-button:hover {
    background-color: #4bd0be3f;
    border: 1px solid #4bd0be85;
    cursor: pointer;
    color: white;
}

.job-name-box {
    height: 5vh;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgb(255 255 255 / 2%) 0%,
        rgb(255 255 255 / 4%) 50%,
        rgb(255 255 255 / 7%) 100%
    );
    margin-bottom: 1vh;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.addBlur {
    filter: blur(5px);
    pointer-events: none;
}

.online {
    color: #13b513;
}

.offline {
    color: red;
}

.emp-box-cont {
    height: 100%;
    width: 60%;
    overflow: scroll;
    margin-left: 2vh;
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vh;
    row-gap: 2vh;
    place-items: center;
}

.emp-box-cont::-webkit-scrollbar {
    display: none;
}

.emp-player-box {
    height: 11vh;
    width: 35vh;
    display: flex;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgb(255 255 255 / 2%) 0%,
        rgb(255 255 255 / 4%) 50%,
        rgb(255 255 255 / 7%) 100%
    );
    border-radius: 6px;
}

.emp-player-left {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emp-player-right {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.employee-name {
    height: 40%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    color: #ffffffeb;
    align-items: end;
    white-space: nowrap;
    font-size: 1.75vh;
}

.employee-rank {
    height: 20%;
    width: 100%;
    font-size: 1.5vh;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #c1c0c0eb;
    padding-right: 3vh;
    display: flex;
    align-items: center;
}

.emp-footer-box {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1vh;
    align-items: center;
}

.player-status {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    font-size: 1.3vh;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #c1c0c096;
}

.manage-btn {
    height: 80%;
    background-color: #ffffff14;
    color: rgba(255, 255, 255, 0.692);
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.2vh;
    border: 1px solid #ffffff08;
}

.manage-btn:hover {
    background-color: #4bd0be3f;
    border: 1px solid #4bd0be85;
    cursor: pointer;
    color: white;
}

.notification-container {
    height: 9vh;
    width: 40vh;
    background-color: #ffffff1f;
    top: 1vh;
    border-radius: 1vh;
    display: none;
    position: absolute;
}

.noti-color-bar {
    height: 100%;
    width: 3%;
    background-color: #1c95a4;
    border-radius: 1vh 0vh 0vh 1vh;
}

.noti-icon-cont {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-content {
    height: 100%;
    width: 65%;
}

.notification-content-title {
    width: 100%;
    height: 50%;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: end;
    font-size: 1.6vh;
    color: white;
}

.notification-content-message {
    height: 50%;
    width: 100%;
    display: flex;
    padding-top: 3px;
    font-size: 1.6vh;
    font-weight: 200;
    color: #ffffff9a;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.add-selected {
    border-right: 1vh solid #1c95a4;
}
