.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1vw;
  border-radius: 0.39469rem;
  border: 0.902px solid rgba(255, 255, 255, 0.08);
  background: rgba(0, 0, 0, 0.04);
  padding: 1vw;
  margin-bottom: 1vw;
  transition: 0.3s ease-in-out;
  &.activeDrop {
    border: 0.902px solid rgba(255, 255, 255, 0.252);
    background: rgba(0, 0, 0, 0.273);
  }
  &.active {
    border: 0.902px solid #1fa2ec;
  }
}

.header {
  width: 100%;
  display: flex;
  gap: 0.5vw;
  .id {
    border-radius: 0.11944rem;
    background: rgba(31, 162, 236, 0.17);
    padding: 0.3vw 1vw 0.3vw 1vw;
    color: #1fa2ec;
    font-size: 0.8vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .time {
    border-radius: 0.11944rem;
    background: rgba(206, 206, 206, 0.17);
    padding: 0.3vw 1vw 0.3vw 1vw;
    font-size: 0.8vw;
    font-weight: 700;
    color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .location {
    border-radius: 0.11944rem;
    background: rgba(206, 206, 206, 0.17);
    padding: 0.3vw 1vw 0.3vw 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 1.2vw;
      height: 1.2vw;
      fill: #fff;
    }
  }
  .priority {
    div {
      border-radius: 0.21944rem;
      padding: 0.4vw 1vw 0.4vw 1vw;
      font-size: 0.8vw;
      font-weight: 700;
    }
    .low {
      border: 0.4px solid #1fec58;
      background: rgba(31, 236, 88, 0.17);
      color: #1fec58;
    }
    .medium {
      border: 0.4px solid #ecd71f;
      background: rgba(236, 215, 31, 0.17);
      color: #ecd71f;
    }
    .high {
      border: 0.4px solid #ec1f1f;
      background: rgba(236, 31, 31, 0.17);
      color: #ec1f1f;
    }
  }
  .imageIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
    border-radius: 0.11944rem;
    background: rgba(206, 206, 206, 0.17);
    cursor: pointer;
    img {
      width: 1.2vw;
      height: 1.2vw;
    }
  }
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    border-radius: 0.39469rem;
    width: 100%;
    height: auto;
  }
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    color: #d1d1d1;
    font-weight: 700;
    font-size: 1.4vw;
  }
  p {
    color: #d1d1d1;
    font-size: 1vw;
    font-weight: 400;
  }
}

.dropArea {
  width: 100%;
  height: 10vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  row-gap: 1vw;
  &::-webkit-scrollbar {
    width: 0vw;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0.5vw;
  }
}

.userItem {
  width: max-content;
  height: max-content;
  user-select: none;
  border-radius: 0.14688rem;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.5vw;
  padding-right: 3vw;
  transition: 0.3s ease-in-out;
  background: rgba(31, 162, 236, 0.13);
  .boder {
    position: absolute;
    left: 0;
    width: 0.15vw;
    height: 60%;
    border-top-right-radius: 1.0945rem;
    border-bottom-right-radius: 1.0945rem;
    background: #1fa2ec;
  }

  .userText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5vw;
    gap: 0.2vw;
    p {
      font-size: 0.7vw;
      font-family: var(--font-satoshi);
      color: #1fa2ec;
    }
    h3 {
      font-size: 0.8vw;
      font-family: var(--font-satoshi);
      color: #1fa2ec;
    }
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.5vw;
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 50%;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 700;
    color: #1fa2ec;
  }
}

.ambulance {
  .userText {
    p {
      color: #ff3939;
    }
    h3 {
      color: #ff3939;
    }
  }
  .userItem {
    background: rgba(255, 57, 57, 0.13);
    .boder {
      background: #ff3939;
    }
  }
  .header {
    .id {
      background: rgba(255, 57, 57, 0.17);
      color: #ff3939;
    }
  }
}
