.body {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000000;
  padding: 0.5vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  pointer-events: none;
}

.bodyItem {
  width: 17vw;
  height: max-content;
  padding: 0.2vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0.6875rem;
  overflow: hidden;
  opacity: 0.85;
  background: linear-gradient(262deg, #000 13.19%, #070707 96.2%);
  .itemBorder {
    position: absolute;
    top: 0;
    width: 7vw;
    height: 0.3vw;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: auto;
    border-bottom-left-radius: 0.36019rem;
    border-bottom-right-radius: 0.36019rem;
  }
  .itemText {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
  }
  .top {
    font-family: var(--font-satoshi);
    font-size: 0.8vw;
    font-weight: 700;
    gap: 0.5vw;
    color: #fff;
    display: flex;
    align-items: center;
    .circle {
      width: 0.7vw;
      height: 0.7vw;
      border-radius: 50%;
      background: #fff;
      animation: fadeIn 2s ease-in-out infinite;
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 12vw;
    gap: 0.5vw;
    font-family: var(--font-satoshi);
    font-size: 0.6vw;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.54);
    padding: 0.5vw;
    border-radius: 0.375rem;
    background: linear-gradient(
      91deg,
      rgba(217, 217, 217, 0.04) 3.45%,
      rgba(217, 217, 217, 0) 98.14%
    );
    .centerBorder {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      svg {
        position: absolute;
        width: 0.7vw;
        height: 0.7vw;
        &:nth-child(1) {
          top: 0;
          left: 0;
        }
        &:nth-child(2) {
          top: 0;
          right: 0;
        }
        &:nth-child(3) {
          bottom: 0;
          left: 0;
        }
        &:nth-child(4) {
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .bottom {
    display: flex;
    gap: 0.5vw;
    font-family: var(--font-satoshi);
    font-size: 0.6vw;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.53);
  }
  .logo {
    position: absolute;
    right: -1%;
    bottom: -7%;
    svg {
      width: 5vw;
      height: 5vw;
      path {
        fill: none;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.police {
  .itemBorder {
    background: #1FA2EC;
  }
  .top {
    color: #1FA2EC;
    .circle {
      background: #1FA2EC;
    }
  }
  .logo {
    svg {
      filter: drop-shadow(0px 0px 7vw #1FA2EC);
      path {
        fill: #1FA2EC;
      }
    }
  }
  .centerBorder {
    svg {
      path {
        stroke: #1FA2EC;
      }
    }
  }
  .callSign{
    color: #1FA2EC;
  }
}

.ambulance {
  .itemBorder {
    background: #FF3939;
  }
  .top {
    color: #FF3939;
    .circle {
      background: #FF3939;
    }
  }
  .logo {
    svg {
      filter: drop-shadow(0px 0px 7vw #FF3939);
      path {
        fill: #FF3939;
      }
    }
  }
  .centerBorder {
    svg {
      path {
        stroke: #FF3939;
      }
    }
  }
  .callSign{
    color: #FF3939;
  }
}

.sheriff {
  .itemBorder {
    background: #DFB038;
  }
  .top {
    color: #DFB038;
    .circle {
      background: #DFB038;
    }
  }
  .logo {
    svg {
      filter: drop-shadow(0px 0px 7vw #DFB038);
      path {
        fill: #DFB038;
      }
    }
  }
  .centerBorder {
    svg {
      path {
        stroke: #DFB038;
      }
    }
  }
  .callSign{
    color: #DFB038;
  }
}

.state {
  .itemBorder {
    background: #6AC9FF;
  }
  .top {
    color: #6AC9FF;
    .circle {
      background: #6AC9FF;
    }
  }
  .logo {
    svg {
      filter: drop-shadow(0px 0px 7vw #6AC9FF);
      path {
        fill: #6AC9FF;
      }
    }
  }
  .centerBorder {
    svg {
      path {
        stroke: #6AC9FF;
      }
    }
  }
  .callSign{
    color: #6AC9FF;
  }
}

.bcso {
  .itemBorder {
    background: #DF6A38;
  }
  .top {
    color: #DF6A38;
    .circle {
      background: #DF6A38;
    }
  }
  .logo {
    svg {
      filter: drop-shadow(0px 0px 7vw #DF6A38);
      path {
        fill: #DF6A38;
      }
    }
  }
  .centerBorder {
    svg {
      path {
        stroke: #DF6A38;
      }
    }
  }
  .callSign{
    color: #DF6A38;
  }
}

.ranger {
  .itemBorder {
    background: #0EB809;
  }
  .top {
    color: #0EB809;
    .circle {
      background: #0EB809;
    }
  }
  .logo {
    svg {
      filter: drop-shadow(0px 0px 7vw #0EB809);
      path {
        fill: #0EB809;
      }
    }
  }
  .centerBorder {
    svg {
      path {
        stroke: #0EB809;
      }
    }
  }
  .callSign{
    color: #0EB809;
  }
}

.highway {
  .itemBorder {
    background: #FC5FFF;
  }
  .top {
    color: #FC5FFF;
    .circle {
      background: #FC5FFF;
    }
  }
  .logo {
    svg {
      filter: drop-shadow(0px 0px 7vw #FC5FFF);
      path {
        fill: #FC5FFF;
      }
    }
  }
  .centerBorder {
    svg {
      path {
        stroke: #FC5FFF;
      }
    }
  }
  .callSign{
    color: #FC5FFF;
  }
}