* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: intermedium;
    src: url(Inter-Medium.ttf);
} */




html, body {
    height: 100%;
    margin: 0;
    user-select: none;
    overflow: hidden;
    /* background-image: url(https://images2.alphacoders.com/129/1292771.png); */
    /* z-index: 7; */

}


.prophunt_overlay{
    height: 100%;
    z-index: 3;
    display: flex;
    background: radial-gradient(circle, rgba(218,218,218,0) 0%, rgba(11, 11, 11, 0.65) 70%);
}


.prophunt_overlay_top {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -1%);
    
    width: 50%;
    height: 10%;
    /* background-color: red; */
    display: flex; /* Çocuk div'leri yan yana dizmek için */
    justify-content: flex-start; /* Çocukları başlangıç hizasına çekmek */
}



.prophunt_overlay_top_1 {
    flex: 3.0; /* %35 genişlik */
    /* background-color: yellow; */
    height: 100%;
 
}


.prophunt_overlay_top_1_list{
    width: 80%;
    height: 100%;
    /* background-color: pink; */
    display: flex; /* Flexbox aktif */
    flex-wrap: wrap; /* Elemanların sarmalanmasını sağlar */
    gap: 15px; /* Elemanlar arasında boşluk */
    justify-content: flex-end; /* Elemanları soldan başlatır */
    padding: 10px; /* Liste çevresinde boşluk */
    margin-left: auto; /* Soldan boşluk bırakır, sağa yaslar */
    margin-right: 4%; /* Sağdan boşluk bırakmaz */
}


.prophunt_overlay_top_1_item {
    width: 50px; /* Div genişliği */
    height: 50px; /* Div yüksekliği */
    display: flex;
    justify-content: center; /* Resmi yatayda ortalar */
    align-items: center; /* Resmi dikeyde ortalar */
    background-color: rgba(255, 255, 255, 0.1); /* Hafif şeffaf arka plan */
    border: 1px solid rgba(255, 255, 255, 0.193); /* Şeffaf sınır */
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    overflow: hidden; /* Taşan içerikleri gizler */
}

.prophunt_overlay_top_1_item img {
    width: 100%; /* Resmi divin genişliği kadar yapar */
    height: 100%; /* Resmi divin yüksekliği kadar yapar */
    object-fit: cover; /* Resmi orantılı şekilde div içine sığdırır */
    border-radius: 5px; /* Resim köşelerini divle aynı yapar */
}

.prophunt_overlay_top_2 {
    flex: 2.0; /* %15 genişlik */
    /* background-color: rgb(25, 0, 255); */
    height: 100%;
    display: flex; /* Flexbox aktif */
    justify-content: space-between; /* Sol, orta, sağ sıralama */
    align-items: center; /* Dikey hizalama */

}

.prophunt_overlay_top_2_1{
    display: flex;
    flex-direction: column;
}

.prophunt_overlay_top_2_1_text{
    font-family: 'Bungee', sans-serif;
    font-size: 12px;
    color: white;
}


.prophunt_overlay_top_2_1_image{
  width: 65px;
  height: 65px;
  background-color: rgb(46, 45, 45);
  border: 1px solid rgb(79, 79, 79);
  margin-top: 5%;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.prophunt_overlay_top_2_1_image img{
    width: 80%;
    height: 80%;
    margin: 4px;
}

.prophunt_overlay_top_2_2{
    display: flex;
    flex-direction: column;

}

.prophunt_overlay_top_2_2_text{
    font-family: 'Orbitron', sans-serif; 
    font-size: 13px;
    color: rgb(179, 179, 179);
}

.prophunt_overlay_top_2_2_text2{
    font-family: 'Orbitron', sans-serif; 
    font-size: 14px;
    color: rgb(238, 238, 238);
}

.prophunt_overlay_top_2_team{
    position: absolute;
    width: 10%;
    top: 10%;
    /* background-color: red; */
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  
}


.prophunt_overlay_top_2_team_1{
    font-family: 'Bungee', sans-serif;
    font-size: 11px;
    color: rgb(23, 227, 105);
}

.prophunt_overlay_top_2_team_topla{
    display: flex;
    justify-content: space-between;
    gap: 2px;
    /* margin-left: 15%; */
}

.prophunt_overlay_top_2_team_2{
    font-family: 'Orbitron', sans-serif; 
    font-size: 11px;
    color: rgb(185, 190, 187);
    
}

.prophunt_overlay_top_2_team_3{
    font-family: 'Orbitron', sans-serif; 
    font-size: 11px;
    color: rgb(185, 190, 187);
  
}

.prophunt_overlay_top_2_team_4{
    font-family: 'Orbitron', sans-serif; 
    font-size: 11px;
    color: rgb(185, 190, 187);
   
}

.prophunt_overlay_top_2_team_5{
    font-family: 'Bungee', sans-serif;
    font-size: 11px;
    color: rgb(49, 93, 239);
}




.prophunt_overlay_top_2_3{
    display: flex;
    flex-direction: column;
}

.prophunt_overlay_top_2_3_text{
    font-family: 'Bungee', sans-serif;
    font-size: 12px;
    color: white;
}


.prophunt_overlay_top_2_3_image{
  width: 65px;
  height: 65px;
  background-color: rgb(175, 163, 163);
  border: 1px solid rgb(128, 127, 127);
  margin-top: 5%;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.prophunt_overlay_top_2_3_image img{
    width: 80%;
    height: 80%;
    margin: 6px;
}




.prophunt_overlay_top_3 {
    flex: 3.0; /* %35 genişlik */
    /* background-color: rgba(8, 8, 8, 0.196); */
    height: 100%;
}

.prophunt_overlay_top_3_list{
    width: 80%;
    height: 100%;
    /* background-color: pink; */
    display: flex; /* Flexbox aktif */
    flex-wrap: wrap; /* Elemanların sarmalanmasını sağlar */
    gap: 15px; /* Elemanlar arasında boşluk */
    justify-content: flex-start; /* Elemanları soldan başlatır */
    padding: 10px; /* Liste çevresinde boşluk */
    margin-left: 4%;
}


.prophunt_overlay_top_3_item {
    width: 50px; /* Div genişliği */
    height: 50px; /* Div yüksekliği */
    display: flex;
    justify-content: center; /* Resmi yatayda ortalar */
    align-items: center; /* Resmi dikeyde ortalar */
    background-color: rgba(255, 255, 255, 0.1); /* Hafif şeffaf arka plan */
    border: 1px solid rgba(255, 255, 255, 0.193); /* Şeffaf sınır */
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    overflow: hidden; /* Taşan içerikleri gizler */
}

.prophunt_overlay_top_3_item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5px;
}


/* ------------------------------------------------------------------------------------------------------ bars ---------------------------------------------------------------------------------------------- */


.prophunt_bars {
    position: absolute;
    bottom: 4%;
    left: 3%;
    transform: translate(-5%, -1%);
    display: flex;
    /* width: 8%; */
    /* height: 8%; */
    /* background-color: red; */
}



.avatar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px; /* Konteyner genişliği */
    height: 65px; /* Konteyner yüksekliği */
}

/* Avatar (Çember) */
.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Çember yapar */
    overflow: hidden;
    position: relative;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Separator (Yarım Daire) */
.separator {
    position: absolute;
    opacity: 0.1;
    margin-left: 50%;

    -webkit-transform:rotate(90deg);
}


.helathall{
    position: relative;
    display: flex;
    align-items: center;
}
/* Sağlık Barı Konteyneri */


.health-icon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.health-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* İkonu düzgün şekilde yerleştirir */
}


.health-bar {
    display: flex;
    gap: 2px; 
    width: 250px; 
    height: 15px; 
    background-color: #3b3b3b10; 
    padding: 2px; 

    margin-left: 3%;
}

/* Her Bir Sağlık Segmenti */
.health-segment {
    flex: 1; /* Eşit genişlik */
    background-color: #b2b0b019; /* Varsayılan segment rengi */

    height: 100%; /* Segment yüksekliği */
    transition: background-color 0.3s ease; /* Renk geçişi */
}

/* Aktif Sağlık Segmenti */
.health-segment.active {
    background-color: #af4c4c; /* Sağlıklı segment rengi (yeşil) */
}

/* Düşük Sağlık Segmenti */
.health-segment.danger {
    background-color: #b2b0b019; /* Tehlikeli segment rengi (kırmızı) */
}






.staminaall{
    position: absolute;
    margin-left: 25%;
    margin-top: 15%;
    display: flex;
    align-items: center;
}
/* Sağlık Barı Konteyneri */


.stamina-icon {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamina-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* İkonu düzgün şekilde yerleştirir */
}


.stamina-bar {
    display: flex;
    gap: 2px; 
    width: 100px; 
    height: 10px; 
    background-color: #3b3b3b58; 
    padding: 2px; 

    margin-left: 3%;
}

/* Her Bir Sağlık Segmenti */
.stamina-segment {
    
    width: 80%;
    background-color: #6a7933bf; /* Varsayılan segment rengi */

    height: 100%; /* Segment yüksekliği */
    transition: background-color 0.3s ease; /* Renk geçişi */
}

/* ------------------------------------------------------------------------------  sağ bar ------------------------------------------------------------------------- */


.prophunt_skillbars {
    position: absolute;
    bottom: 4%;
    right: 3%;
    transform: translate(-5%, -1%);
    display: flex;
    /* width: 8%; */
    /* height: 8%; */
    /* background-color: red; */
}


.weapon-skills-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}


/* Weapon Info */
.weapon-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.weapon-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.ammo-info {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: baseline;
}

.current-ammo {
    font-weight: bold;
    font-size: 24px;
    color: #c8c8c6;
}

.total-ammo {
    font-size: 18px;
    color: #888;
}


/* Skills */
.skills {
    display: flex;
    gap: 10px;
}

.skill {
    width: 50px;
    height: 50px;
    background-color: #32323261;
    border: 2px solid #88888850;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill img {
    width: 70%; /* Resim kutunun tamamını kaplar */
    height: 70%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 5px; /* Resmi kutuya uyumlu hale getirir */
}

.skill[data-active="false"] img {
    filter: grayscale(100%); /* Pasif skilleri gri ton yapar */
    opacity: 0.5; /* Şeffaflık ekler */
}

.skill-label {
    position: absolute;
    top: 130%; /* Resim ile numara arasında boşluk */
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(222, 221, 221, 0.563);
}

.skill[data-active="false"] {
    background-color: #222;
    border-color: #555;
    cursor: not-allowed;
}

.skill:hover[data-active="true"] {
    background-color: #4caf50;
    border-color: #2e7d32;
}


.prophunt_timermain{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -2%);
    /* width: 18%; */
    /* height: 5%; */
    background-color: rgba(26, 25, 25, 0);
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-start;
}

.prophunt_timermain_avatar {
    width: 18%;
    height: 80%;
    background-color: rgb(169, 169, 173);
    margin: 1.5%;

    overflow: hidden; /* Resmin taşmasını engeller */
    display: flex; /* İçerik merkezleme için */
    justify-content: center;
    align-items: center;
}
  
.prophunt_timermain_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi kutunun boyutlarına göre kırpar */
}


.prophunt_timermain_texts {
    width: 60%;
    height: 75%;
    /* background-color: rgba(169, 169, 173, 0.542); */
    display: flex;
    flex-direction: column;
    margin: 2.5%;
}
.prophunt_timermain_texts_1{
    font-family: 'Bungee', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: white;
}

.prophunt_timermain_texts_2{
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
    color: rgba(199, 199, 199, 0.545);
}

.prophunt_timermain_team {
    /* width: 60%; */
    /* height: 75%; */
    /* background-color: yellow; */

    margin: 2%;
    overflow: hidden; /* Resmin taşmasını engeller */
    display: flex; /* İçerik merkezleme için */
    justify-content: center;
    align-items: center;
}

.prophunt_timermain_team img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi kutunun boyutlarına göre kırpar */
}

#prophunt_timermain-container {
    /* text-align: center; */
    font-family: 'Bungee', sans-serif;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    /* background: linear-gradient(180deg, rgba(131,58,180,0) 0%, rgba(253,29,29,0) 27%, rgba(40, 68, 125, 0.144) 70%); */
}
#prophunt_timermain-role {
    font-size: 12px;
    margin-bottom: 10px;
    color: rgb(247, 247, 247);
}
#prophunt_timermain-countdown {
    font-size: 13px;
   
    color: rgba(249, 230, 15, 0.978);
    margin-left: 2px;
}

.prophunt_timermain2{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    width: 18%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.544);
    border: 1px solid rgba(166, 165, 165, 0.205);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    justify-content: flex-start;
}



.prophunt_blackscreen{
    height: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    /* display: flex; */
}




/* ------------------------------------------------------------------------------------ spectate ------------------------------------------------------------------------------------------------------------- */

.prophunt_spectateall{
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
}

.prophunt_spectate{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    width: 18%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.544);
    border: 1px solid rgba(166, 165, 165, 0.205);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    justify-content: flex-start;
}


.prophunt_spectate_avatar {
    width: 18%;
    height: 80%;
    background-color: rgb(169, 169, 173);
    margin: 1.5%;

    overflow: hidden; /* Resmin taşmasını engeller */
    display: flex; /* İçerik merkezleme için */
    justify-content: center;
    align-items: center;
}
  
.prophunt_spectate_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi kutunun boyutlarına göre kırpar */
}


.prophunt_spectate_texts {
    width: 60%;
    height: 75%;
    /* background-color: rgba(169, 169, 173, 0.542); */
    display: flex;
    flex-direction: column;
    margin: 2.5%;
}
.prophunt_spectate_texts_1{
    font-family: 'Bungee', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: white;
}

.prophunt_spectate_texts_2{
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
    color: rgba(199, 199, 199, 0.545);
}


.prophunt_spectate_team {
    /* width: 60%; */
    /* height: 75%; */
    /* background-color: yellow; */

    margin: 2%;
    overflow: hidden; /* Resmin taşmasını engeller */
    display: flex; /* İçerik merkezleme için */
    justify-content: center;
    align-items: center;
}

.prophunt_spectate_team img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi kutunun boyutlarına göre kırpar */
}

.prophunt_spectate_arrows{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    width: 35%;
    /* background-color: red; */
    height: 5%;
    display: flex;
    justify-content: space-between;

}

.prophunt_spectate_arrows_1{
    opacity: 0.3;
    margin-top: 0.2%;
}

.prophunt_spectate_arrows_1:hover{
    opacity: 0.7;
}

.prophunt_spectate_arrows_2{
    opacity: 0.3;
    margin-top: 0.2%;
}


.prophunt_spectate_arrows_2:hover{
    opacity: 0.7;
}

.prophunt_spectate_spectatetext{
    position: absolute;
    font-family: 'Bungee', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
}


#smoke-screen {
    height: 100%;
    z-index: 5;
    display: none;
}

#smoke-effect {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    opacity: 0.2;

 
}

#smoke-effect img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.493); /* Beyaz ve yarı şeffaf */
    border-radius: 50%; /* Daire şekli */
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.159); /* Hafif parlama */
}


#kill-ui {
    position: fixed;
    top: 20px;
    right: 20px;
    /* width: 300px; */
    max-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Bungee', sans-serif;
}

.kill-entry {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.457);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    animation: slideIn 0.5s ease;
    font-size: 8px;
}

.killer {
    font-weight: 500;
    color: #7d3935;
    margin-right: 5px;
    font-size: 8px;
}

.victim {
    font-weight: 500;
    color: #979b98;
    font-size: 8px;
    margin-left: 5px;
}

.weapon {
    margin-left: auto;
    font-size: 12px;
    color: #ccc;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.prophunt-keymain{
  position: absolute;
  right: 1%;
  bottom: 35%;
}


.prophunt-key-list {
    background: #2c2c2c00;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    color: white;
    
}

.prophunt-key-info {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.prophunt-key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: #444;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    border-radius: 6px;
    margin-right: 10px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
}

.prophunt-key img {
    width: 13px;
    height: 13px;
    filter: invert(1); /* Beyaz ikon için */
}

.prophunt-description {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: #bab7b7;
}



/* ---------------------------------------- media --------------------------------------------------------------------------------------------------  */


@media screen and (max-width: 1600px) and (min-width: 1460px) and (max-height: 900px) {

    
}
  
  
  
@media screen and (max-width: 1440px) and (min-width: 1400px) {
   
}
  
  
@media screen and (max-width: 1366px) and (min-width:1300px) {
  
}
  
  
  