.body{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 999;
    pointer-events: none;
}

.menu{
    position: relative;
    pointer-events: all;
    width: 10vw;
    height: 100%;
    overflow: hidden;
    padding-left: 1vw;
    padding-right: 1vw;
}

.menuColor{
    position: absolute;
    right: -50%;
    top: -5%;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    opacity: 0;
}

.menuInner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 4px solid rgba(255, 255, 255, 0.07);
    border-right: 4px solid rgba(255, 255, 255, 0.07);
    gap: 1vw;
    align-items: center;
    .menuItem{
        width: 60%;
        height: 4vw;
        cursor: pointer;
        background: rgb(255, 255, 255, 0.07);
        border-radius: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;
        .menuBorder{
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            transition: 0.3s ease-in-out;
            svg{
                position: absolute;
                width: 0.8vw;
                height: 0.8vw;
                &:nth-child(1){
                    top: 0;
                    left: 0;
                }
                &:nth-child(2){
                    top: 0;
                    right: 0;
                }
                &:nth-child(3){
                    bottom: 0;
                    left: 0;
                }
                &:nth-child(4){
                    bottom: 0;
                    right: 0;
                }
            }
        }
        .menuIcon{
            svg{
                width: 2vw;
                height: 2vw;
                path{
                    fill: #5A5A5A;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
    .menuInBorder{
        width: 70%;
        height: 4px;
        background: rgba(255, 255, 255, 0.07);
    }
    .menuActive{
        .menuBorder{
            opacity: 1;
        }
    }

}

.police{
    .menuBorder{
        svg{
            path{
                stroke: #1FA2EC;
            }
        }
    }
    .menuIcon{
        svg{
            path{
                fill: #1FA2EC;
            }
        }
    }
    .menuActive{
        background: rgba(0, 110, 255, 0.07);
        .menuIcon{
            svg{
                path{
                    fill: #1FA2EC;
                }
            }
        }
    }
}

.ambulance{
    .menuBorder{
        svg{
            path{
                stroke: #FF3939;
            }
        }
    }
    .menuIcon{
        svg{
            path{
                fill: #FF3939;
            }
        }
    }
    .menuActive{
        background: rgba(249, 42, 42, 0.07);
        .menuIcon{
            svg{
                path{
                    fill: #FF3939;
                }
            }
        }
    }
}