.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2vw;
}

.radarBody {
  width: 25vw;
  height: 45vw;
  border-radius: 0.71094rem;
  background: linear-gradient(
    180deg,
    #070707 0%,
    rgba(7, 7, 7, 0.96) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 2vw;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  .radarHead {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    h1 {
      text-align: center;
      -webkit-text-stroke-width: 0.7872635722160339px;
      -webkit-text-stroke-color: #1fa2ec;
      font-family: var(--font-satoshi);
      font-size: 2.2vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.09188rem;
      background: linear-gradient(
        98deg,
        #1fa9f6 2.03%,
        rgba(36, 172, 249, 0) 103.6%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
    p {
      color: rgba(255, 255, 255, 0.52);
      text-align: center;
      font-family: var(--font-satoshi);
      font-size: 1vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  /* Scroll Styles */
  &::-webkit-scrollbar {
    width: 0vw;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0.23744rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.23744rem;
  }
}

.radarItem {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
