
.speedMain{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    font-family: var(--font);
    .menuCont{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.5vw;
        width: 6vw;
        height: 2vw;
        border-radius: 0.39713rem;
        border: 1.037px solid rgba(255, 255, 255, 0.09);
        background: linear-gradient(127deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.50) 91.2%);
    }
    .speedCont{
        width: 6vw;
        height: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.39713rem;
        border: 1.037px solid rgba(255, 255, 255, 0.09);
        background: linear-gradient(127deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.70) 91.2%);
        h2{
            font-size: 1vw;
        }
    }
}
