.body {
  position: absolute;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 999999;
  overflow: hidden;
}

.notify {
  position: relative;
  width: 15vw;
  height: max-content;
  border-radius: 0.5rem;
  border: 1.109px solid rgba(255, 255, 255, 0.08);
  background: linear-gradient(180deg, #070707 0%, rgba(7, 7, 7, 0.96) 100%);
  padding: 0.7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
  color: white;
  right: -100%;
  opacity: 0;
  h1 {
    font-size: 1.3vw;
    font-weight: 500;
  }
  p {
    font-size: 1vw;
    color: #cfcfcf;
  }
}
