.toolBar {
  width: 100%;
  padding-top: 2vw;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.toolbarInner {
  width: 32vw;
  height: 4vw;
  pointer-events: all;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  border-radius: 1.02606rem;
  background: linear-gradient(
    127deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  );
  border: 2.079px solid rgba(255, 255, 255, 0.09);
  .dragButton {
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.90081rem;
    border: 2.352px solid rgba(255, 255, 255, 0.09);
    background: linear-gradient(
      127deg,
      rgba(6, 11, 38, 0.74) 28.26%,
      rgba(26, 31, 55, 0.5) 91.2%
    );
    cursor: pointer;
    img {
      width: 1.5vw;
      height: 1.5vw;
    }
    transition: 0.3s ease-in-out;
  }
  .dragButtonActive {
    border: 2.352px solid rgba(89, 255, 0, 0.565);
  }
  .toolBarScale {
    width: 9vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    justify-content: center;
    input {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 0.90081rem;
      border: 2.352px solid rgba(255, 255, 255, 0.09);
      background: linear-gradient(
        127deg,
        rgba(6, 11, 38, 0.74) 28.26%,
        rgba(26, 31, 55, 0.5) 91.2%
      );
      outline: none;
      color: white;
      font-size: 1.2vw;
      text-align: center;
    }
    p {
      font-size: 1.1vw;
      color: white;
      font-family: var(--font-satoshi);
    }
  }
  .changeColor{
    .colorShow{
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 1.02606rem;
        border: 2.079px solid rgba(255, 255, 255, 0.09);
        cursor: pointer;
    }
    .colorPicker{
        position: absolute;
    }
  }
  .resetButton{
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.90081rem;
    border: 2.352px solid rgba(255, 255, 255, 0.09);
    background: linear-gradient(
      127deg,
      rgba(6, 11, 38, 0.74) 28.26%,
      rgba(26, 31, 55, 0.5) 91.2%
    );
    img {
      width: 1.5vw;
      height: 1.5vw;
    }
  }
}
