@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}