.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1vw;
  width: 20vw;
  height: 80%;
  border-radius: 0.55038rem;
  pointer-events: all;
  background: linear-gradient(
    180deg,
    #070707 0%,
    rgba(7, 7, 7, 0.96) 100%
  );
  overflow: hidden;
}

.menuHead {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 1vw;
  padding-bottom: 0;
  text-transform: uppercase;
  .smallIcon{
    position: absolute;
    z-index: 1;
    right: 0.8vw;
    top: 0.3vw;
    cursor: pointer;
    img{
      width: 1.5vw;
      height: auto;
    }
  }
  .headBorder {
    position: absolute;
    top: 0;
    width: 6vw;
    height: 0.4vw;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  h2 {
    text-align: center;
    -webkit-text-stroke-width: 0.7324395179748535px;
    font-family: var(--font-satoshi);
    font-size: 2.3vw;
    font-weight: 600;
  }
  p {
    color: rgba(255, 255, 255, 0.52);
    text-align: center;
    font-family: var(--font-satoshi);
    font-size: 0.8vw;
    font-weight: 500;
  }
}

.menuBody {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.menuItem {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5vw;
  padding: 1vw;
  border-radius: 0.3525rem;
  border: 0.806px solid rgba(255, 255, 255, 0.08);
  background: rgba(0, 0, 0, 0.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  .itemLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vw;
    .itemTitle{
        font-family: var(--font-satoshi);
        font-size: 0.9vw;
        font-weight: 600;
        color: #A1A1A1;
    }
    .itemDesc{
        display: flex;
        align-items: center;
        gap: 0.5vw;
        .itemDot{
            width: 0.5vw;
            height: 0.5vw;
            border-radius: 0.1rem;
        }
        p{
            font-family: var(--font-satoshi);
            font-size: 0.9vw;
            font-weight: 500;
        }
    }
  }
  .itemRight{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        width: 2vw;
        height: 2vw;
        path{
            fill: black;
        }
    }
  }
}

.police {
  .menuHead {
    .headBorder {
      background-color: #1fa2ec;
      box-shadow: 0px 0px 8vw 0.9vw #1fa2ec;
    }
    h2 {
      -webkit-text-stroke-color: #1fa2ec;
      background: linear-gradient(
        98deg,
        #24a9f4 2.03%,
        rgba(31, 169, 246, 0) 103.6%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .menuItem{
    &:hover{
        background: rgba(31, 169, 246, 0.1);
    }
    &.active{
        .itemTitle{
            color: #1fa2ec;
        }
    }
  }
  .itemRight{
    svg{
        path{
            fill: #1fa2ec;
        }
    }
  }
  .itemDesc{
    .itemDot{
        background-color: #1fa2ec;
        box-shadow: 0px 0px 1vw 0.1vw #1fa2ec;
    }
    p{
        color: #1fa2ec;
        text-shadow: 0px 0px 1vw #1fa2ec;
    }
  }
}

.ambulance {
  .menuHead {
    .headBorder {
      background-color: #ff3939;
      box-shadow: 0px 0px 8vw 0.9vw #ff3939;
    }
    h2 {
      -webkit-text-stroke-color: #ff3939;
      background: linear-gradient(
        98deg,
        #ff3939 2.03%,
        rgba(255, 57, 57, 0) 103.6%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .menuItem{
    &:hover{
        background: rgba(255, 57, 57, 0.1);
    }
    &.active{
        .itemTitle{
            color: #ff3939;
        }
    }
  }
  .itemRight{
    svg{
        path{
            fill: #ff3939;
        }
    }
  }
  .itemDesc{
    .itemDot{
        background-color: #ff3939;
        box-shadow: 0px 0px 1vw 0.1vw #ff3939;
    }
    p{
        color: #ff3939;
        text-shadow: 0px 0px 1vw #ff3939;
    }
  }
}
