.body {
  position: absolute;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
  padding: 3vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.activeRadio {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 11vw;
  padding-bottom: 6vh;
  gap: 2vw;
  pointer-events: none;
}

.item {
  position: relative;
  width: max-content;
  padding: 0.5vw 1.5vw 0.5vw 1vw;
  border-radius: 0.28644rem;
  background: #000;
  color: #8E8E8E;
  display: flex;
  align-items: center;
  font-weight: 700;
  .boder{
    width: .3vw;
    height: 50%;
    border-top-right-radius: 0.28644rem;
    border-bottom-right-radius: 0.28644rem;
    background-color: #8E8E8E;
    position: absolute;
    left: 0;
  }
}

.police{
    .boder{
        background: #3994FF;
    }
}

.ambulance{
    .boder{
        background: #EC1F1F;
    }
}