.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1vw;
  width: 20vw;
  height: 65%;
  border-radius: 0.66144rem;
  pointer-events: all;
  background: linear-gradient(
    180deg,
    #070707 0%,
    rgba(7, 7, 7, 0.96) 100%
  );
}

.menuHead {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 1vw;
  padding-bottom: 0;
  text-transform: uppercase;
  .smallIcon{
    position: absolute;
    z-index: 1;
    right: 0.8vw;
    top: 0.3vw;
    cursor: pointer;
    img{
      width: 1.5vw;
      height: auto;
    }
  }
  .headBorder {
    position: absolute;
    top: 0;
    width: 6vw;
    height: 0.4vw;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  h2 {
    text-align: center;
    -webkit-text-stroke-width: 0.7324395179748535px;
    font-family: var(--font-satoshi);
    font-size: 2.7vw;
    font-weight: 600;
  }
  p {
    color: rgba(255, 255, 255, 0.52);
    text-align: center;
    font-family: var(--font-satoshi);
    font-size: 0.8vw;
    font-weight: 500;
  }
}

.menuBody {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.menuItem{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 0.5vw 0;
  gap: 0.5vw;
  padding: 1vw;
  background: rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  overflow: hidden;
  transform-origin: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  .itemImg{
    width: 100%;
    height: 0vw;
    transform-origin: bottom;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;    img{
      width: 150%;
      height: 150%;
      object-fit: cover;
    }
  }
  .itemText{
    h3{
      color: #AEAEAE;
      font-family: var(--font-satoshi);
      font-size: 1.5vw;
      font-weight: 500;
    }
    p{
      color: rgba(255, 255, 255, 0.71);
      font-family: var(--font-satoshi);
      font-size: 0.8vw;
      font-weight: 300;
    }
  }
  .deleteIcon{
    width: 100%;
    height: 0vw;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    transform-origin: top;
    img{
      width: 2.5vw;
      height: 2.5vw;
      cursor: pointer;
    }
  }
}

.menuActive{
  .itemImg{
    height: 6vw;
  }
  .deleteIcon{
    height: 2.5vw;
  }
}

.saveButton {
  height: 3.5vw;
  width: 10vw;
  border-radius: 1.07075rem 1.07075rem 0rem 0rem;
  background: rgba(217, 217, 217, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  p{
    font-family: var(--font-satoshi);
    font-size: 1.2vw;
    font-weight: 400;
    color: #B3B3B3;
  }
  &:hover{
    background: rgba(217, 217, 217, 0.24);
  
  }
}

.saveArea{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  bottom: 0;
  width: 20vw;
  right: 21vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.66144rem;
  background: linear-gradient(
    180deg,
    #070707 0%,
    rgba(7, 7, 7, 0.96) 100%
  );
  height: max-content;
  padding: 1vw;
  overflow: hidden;
  .headBorder {
    position: absolute;
    top: 0;
    width: 6vw;
    height: 0.4vw;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  input{
    width: 80%;
    height: 2.5vw;
    padding: 0 1vw;
    background: rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: .57075rem;
    font-family: var(--font-satoshi);
    font-size: 1vw;
    font-weight: 400;
    color: #B3B3B3;
    outline: none;
  }
  textarea{
    width: 80%;
    height: 6vw;
    padding: 1vw;
    background: rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: .57075rem;
    font-family: var(--font-satoshi);
    font-size: 0.8vw;
    font-weight: 400;
    color: #B3B3B3;
    outline: none;
    resize: none;
    &::-webkit-scrollbar {
      width: 0vw;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
  .saveAreaButton{
    width: 80%;
    display: flex;
    gap: 1vw;
    div{
      cursor: pointer;
      padding: 0.47088vw 1.24444vw 0.47088vw 1.1435vw;
      border-radius: 0.50525vw;
      background: rgba(218, 218, 218, 0.10);
      font-family: var(--font-satoshi);
      font-size: 1vw;
      font-weight: 400;
      color: #9A9A9A;
      border: 2.5px solid #B2B2B2;
      transition: 0.3s ease-in-out;
      &:hover{
        background: rgba(218, 218, 218, 0.20);
      }
    }
  }
}

.police {
  .menuHead {
    .headBorder {
      background-color: #1fa2ec;
      box-shadow: 0px 0px 8vw 0.9vw #1fa2ec;
    }
    h2 {
      -webkit-text-stroke-color: #1fa2ec;
      background: linear-gradient(
        98deg,
        #24a9f4 2.03%,
        rgba(31, 169, 246, 0) 103.6%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .menuActive{
    border: 1px solid #1FA2EC;
    .itemText{
      h3{
        color: #1FA2EC;
      }
    }
  }
  .saveArea{
    .headBorder {
      background-color: #1fa2ec;
      box-shadow: 0px 0px 8vw 0.9vw #1fa2ec;
    }
  }
  .saveAreaButton{
    div{
      &:first-child{
        color: #1FA2EC;
        border: 2.5px solid #1FA2EC;
        background: rgba(0, 117, 255, 0.10);
        box-shadow: 0px 0px 17.974px 0px rgba(0, 117, 255, 0.17);
        &:hover{
          background: rgba(0, 117, 255, 0.20);
        }
      }
    }
  }
}

.ambulance {
  .menuHead {
    .headBorder {
      background-color: #ff3939;
      box-shadow: 0px 0px 8vw 0.9vw #ff3939;
    }
    h2 {
      -webkit-text-stroke-color: #ff3939;
      background: linear-gradient(
        98deg,
        #ff3939 2.03%,
        rgba(255, 57, 57, 0) 103.6%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .menuActive{
    border: 1px solid #FF3939;
    .itemText{
      h3{
        color: #FF3939;
      }
    }
  }
  .saveArea{
    .headBorder {
      background-color: #ff3939;
      box-shadow: 0px 0px 8vw 0.9vw #ff3939;
    }
  }
  .saveAreaButton{
    div{
      &:first-child{
        color: #FF3939;
        border: 2.5px solid #FF3939;
        background: rgba(236, 31, 31, 0.10);
        box-shadow: 0px 0px 17.974px 0px rgba(236, 31, 31, 0.17);
        &:hover{
          background: rgba(236, 31, 31, 0.20);
        }
      }
    }
  }
}
