.body {
  width: 100%;
  margin-bottom: 0.5vw;
  user-select: none;
  border-radius: 0.14688rem;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.5vw;
  background: rgba(31, 162, 236, 0.13);
  cursor: pointer;
  &.activeDrag{
    opacity: 0.3;
  }
}

.boder {
  position: absolute;
  left: 0;
  width: 0.15vw;
  height: 60%;
  border-top-right-radius: 1.0945rem;
  border-bottom-right-radius: 1.0945rem;
  background: #1FA2EC;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5vw;
  gap: 0.2vw;
  p {
    font-size: 0.7vw;
    font-family: var(--font-satoshi);
    color: #1FA2EC;
  }
  h3 {
    font-size: 0.8vw;
    font-family: var(--font-satoshi);
    color: #1FA2EC;
  }
}

.circle{
    position: absolute;
    right: 0.5vw;
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    background-color: #1FA2EC;
}

.ambulance{
  .text{
    p{
      color: #ff3939;
    }
    h3{
      color: #ff3939;
    }
  }
  &.body{
    background: rgba(255, 57, 57, 0.13);
  }
  .circle{
    background-color: #ff3939;
  }
  .boder{
    background: #ff3939;
  }
}