.body {
  width: 100%;
  margin-bottom: 0.5vw;
  user-select: none;
  border-radius: 0.14688rem;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.5vw;
  cursor: pointer;
  &.activeDrag{
    opacity: 0.3;
  }
}

.boder {
  position: absolute;
  left: 0;
  width: 0.15vw;
  height: 60%;
  border-top-right-radius: 1.0945rem;
  border-bottom-right-radius: 1.0945rem;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5vw;
  gap: 0.2vw;
  p {
    font-size: 0.7vw;
    font-family: var(--font-satoshi);
  }
  h3 {
    font-size: 0.8vw;
    font-family: var(--font-satoshi);
  }
}

.circle{
    position: absolute;
    right: 0.5vw;
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
}