.body{
    padding: 1vw;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0vw;
    }
    &::-webkit-scrollbar-thumb{
        background: rgba(255, 255, 255, 0);
        border-radius: 0.18138rem;
    }
    &::-webkit-scrollbar-track{
        background: rgba(255, 255, 255, 0);
        border-radius: 0.18138rem;
    }
}

.item{
    width: 100%;
    height: 15vh;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.16);
    border: 1.185px solid rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    margin-bottom: 1vw;
    .title{
        width: 25%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        border-radius: 0.33675rem;
        background: rgba(217, 217, 217, 0.03);
        overflow: hidden;
        color: rgba(255, 255, 255, 0.53);
        font-family: var(--font-satoshi);
        font-size: 1vw;
        font-weight: 700;
        svg{
            position: absolute;
            width: 150%;
            height: 150%;
        }
    }
    .userList{
        width: 65%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 0vw;
        }
        &::-webkit-scrollbar-thumb{
            background: rgba(255, 255, 255, 0);
            border-radius: 0.18138rem;
        }
        &::-webkit-scrollbar-track{
            background: rgba(255, 255, 255, 0);
            border-radius: 0.18138rem;
        }
    }
    .user{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: max-content;
        height: max-content;
        gap: 1vw;
        padding: 0.5vw;
        padding-left: 0.9vw;
        border-radius: 0.1875rem;
        border: 1px solid rgba(255, 255, 255, 0.08);
        background: rgba(217, 217, 217, 0.04);
        .name{
            color: #8E8E8E;
            font-family: var(--font-satoshi);
            font-size: 0.8vw;
            font-weight: 700;
        }
        .callsign{
            padding: 0.2vw;
            font-family: var(--font-satoshi);
            font-size: 0.8vw;
            border-radius: 0.10225rem;
            font-weight: 700;
        }
        .border{
            position: absolute;
            width: 0.5vw;
            height: 0.5vw;
            left: -2px;
            border-radius: 0.20419rem;
        }
    }
}