.body {
  width: 100%;
  height: 100vh;
  position: absolute;
  padding: 2vw;
  background-image: url(/dispatch/dispatch-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// .body::after {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   filter: blur(299.8999938964844px);
//   border-radius: 100%;
//   opacity: 0.7;
// }

// .police::after{
//     background: #1FA2EC;
// }

// .ambulance::after{
//     background: #FF3939;
// }

.map {
  position: relative;
  width: 91.6%;
  height: 100%;
  border-radius: 1.7rem;
  z-index: 1;
  outline: none;
}

.filter {
  box-shadow: 0 0 15rem 0.3rem #1fa1ec69;
  right: 2vw;
  bottom: 2vw;
  top: 2vw;
  left: 2v;
  position: absolute;
  width: 84%;
  height: 83%;
  border-radius: 1.7rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 95px;
  height: max-content;
  padding: 10px;
  background-color: black;
  border-radius: 0.71906rem;
  background: linear-gradient(180deg, #070707 0%, rgba(7, 7, 7, 0.96) 100%);
  .iconBottom {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconTop{
    border-bottom: 2px solid rgba(217, 217, 217, 0.1);
    color: #fff;
    word-break: break-all;
  }
  .iconCam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
    border-right: 0.5px solid rgba(217, 217, 217, 0.1);
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .iconGps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-left: 0.5px solid rgba(217, 217, 217, 0.1);
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.pIcon {
  .iconGps {
    svg {
      path {
        fill: #0075ff;
      }
      filter: drop-shadow(0px 0px 15.969px rgba(0, 117, 255, 1));
    }
  }
  .iconTop {
    color: #0075ff;
  }
  .iconCam {
    svg {
      path {
        fill: #0075ff;
      }
      filter: drop-shadow(0px 0px 15.969px rgba(0, 117, 255, 0.5));
    }
  }
}

.aIcon {
  .iconGps {
    svg {
      path {
        fill: #ff3939;
      }
      filter: drop-shadow(0px 0px 15.969px rgba(255, 57, 57, 1));
    }
  }
  .iconTop {
    color: #ff3939;
  }
  .iconCam {
    svg {
      path {
        fill: #ff3939;
      }
      filter: drop-shadow(0px 0px 15.969px rgba(255, 57, 57, 0.5));
    }
  }
}
