@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Orbitron", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow: hidden;
}

.slider {
  -webkit-appearance: none;
  height: 2px;
  background: white;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: gray;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 4px; /* Set scrollbar width to 4px */
}

::-webkit-scrollbar-track {
  background: rgba(
    217,
    217,
    217,
    0.06
  ); /* D9D9D9 with 6% opacity for tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    217,
    217,
    217,
    0.67
  ); /* D9D9D9 with 67% opacity for the scroll thumb */
  border-radius: 0px !important; /* No rounding on the scroll */
}

/* For Firefox */
* {
  scrollbar-width: 4px; /* Set scrollbar width to 4px */
  scroll-margin-block-start: 10px;
  scrollbar-width: thin; /* Use "thin" to approximate the 4px width */
  scrollbar-color: rgba(217, 217, 217, 0.67) rgba(217, 217, 217, 0.06); /* thumb and track color with specified opacity */
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(0deg) translateX(0px);
  }
  25% {
    transform: rotate(-5deg) translateX(-5px);
  }
  75% {
    transform: rotate(5deg) translateX(5px);
  }
}

.swaying {
  transform-origin: bottom center;
  animation: sway 4s ease-in-out infinite;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.svg-animation {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 1s; /* Adjust duration to control speed */
  animation-iteration-count: infinite; /* Loop indefinitely */
  opacity: 0; /* Start invisible */
}

.svg1 {
  animation-delay: 0s;
}
.svg2 {
  animation-delay: 0.5s;
} /* Delay appearance */
.svg3 {
  animation-delay: 1s;
}
.svg4 {
  animation-delay: 1.5s;
}
.svg5 {
  animation-delay: 2s;
}
/* Reset to invisible state for looping */
.svg1 {
  animation-delay: 2.5s;
}
.svg2 {
  animation-delay: 3s;
}
.svg3 {
  animation-delay: 3.5s;
}
.svg4 {
  animation-delay: 4s;
}
.svg5 {
  animation-delay: 4.5s;
}
