:root {
    /* ARS MENU */
    --menucontainer_background_gradient_color_1: #00000091;
    --menucontainer_background_gradient_color_2: #000000b4;
    --menucontainer_background_gradient_color_3: #000000de;
    --menucontainer_background_shadow_color: #f5deb344;

    --menucontainer_wrapper_background_color: #08388070;

    --sirenactivated_color: #ffa600c0;
    --sirenactivated_glow_color: #ff0000b6;

    /* POWER BTN */
    --power_btn_sirens_on: #00e700;
    --power_btn_sirens_off: #e40808;

    /* BUTTONS */
    --button_close_text_color: #f5deb3;
}

#menucontainer {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--menucontainer_background_gradient_color_1) 1px, var(--menucontainer_background_gradient_color_2) 85%, var(--menucontainer_background_gradient_color_3) 95%); 
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: wheat;
    width: 500px;
    height: 350px;
    box-shadow: 0px 0px 8px var(--menucontainer_background_shadow_color);
    animation: slideInMenu 2s ease-in-out infinite;
    animation-iteration-count: 1;
    z-index: 0;
}

.menucontainer_header {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    color: wheat;
    opacity: 0.8;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 24px;
    z-index: 1;
}

.menucontainer_footer {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
    opacity: 0.8;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}

.menucontainer_contentwrapper {
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background: var(--menucontainer_wrapper_background_color);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 225px;
    box-shadow: 0px 0px 12px 2px inset var(--menucontainer_background_shadow_color);
    z-index: 2;
}


@keyframes slideInMenu {
    0% {
        top:-50%;
    }
    10%, 100% {
        top: 50%;
    }
}

/* CLOSE BUTTON */

.exit {
    position: absolute;
    background: none;
    border: none;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    cursor: pointer;
    color: var(--button_close_text_color);
    font-weight: bold;
    font-size: 32px;
    z-index: 1;
}

.exit:hover {
    opacity: 1;
}

.left {
    position: absolute;
    background: none;
    border: none;
    left: 1rem;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    cursor: pointer;
    color: var(--button_close_text_color);
    font-weight: bold;
    font-size: 32px;
    z-index: 1;
}

.left:hover {
    opacity: 1;
}

.right {
    position: absolute;
    background: none;
    border: none;
    right: 1rem;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    cursor: pointer;
    color: var(--button_close_text_color);
    font-weight: bold;
    font-size: 32px;
    z-index: 1;
}

.right:hover {
    opacity: 1;
}

/* POWER BUTTON */

.button {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid wheat;
	box-shadow: 0 0 5px 0px wheat;
	position: relative;
	display: grid;
	place-items: center;
}

.button::before {
	content: "";
	width: 50%;
	height: 50%;
	border: 8px solid wheat;
	border-radius: 50%;
	position: absolute;
}

.light {
	height: 30%;
	width: 8px;
	background: var(--power_btn_sirens_off);
	border-radius: 10px;
	position: absolute;
	top: 20px;
	box-shadow: 0 0 0 10px wheat
}

.button:hover {
	cursor: pointer;
}

.button:active {
	box-shadow: 0 0 20px 0px var(--power_btn_sirens_on) inset;
}

.button:active .light {
	background: var(--power_btn_sirens_on);
}

.button:active::before {
	border-color: var(--power_btn_sirens_on);
}

/* ARS SIGNAL */

.sirendisplay {
    position: absolute;
    display: none;
    align-items: center;
    top: 95%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    font-weight: bold;
    font-size: 35px;
    color: var(--sirenactivated_color);
    border-radius: 50%;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px var(--sirenactivated_glow_color);
  }
  to {
    box-shadow: 0 0 10px 10px var(--sirenactivated_glow_color);
  }
}