* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-light: 'Satoshi-Light';
    --font-regular: 'Satoshi-Regular';
    --font-medium: "Satoshi-Medium";
    --font-bold: "Satoshi-Bold";
    --font-black: "Satoshi-Black";
}

.font-light {
    font-family: var(--font-light);
}

.font-regular {
    font-family: var(--font-regular);
}

.font-medium {
    font-family: var(--font-medium);
}

.font-bold {
    font-family: var(--font-bold);
}

.font-black {
    font-family: var(--font-black);
}

body{
    font-family: 'Bebas Neue', sans-serif;
    user-select: none;
}

.guitar-hero{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    background-color: #00000065;
}

.game-area{
    position: relative;
    width: 60vw;
    height: 25vh;
    background-image: url(../img/backgroundGame.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.key-spawn{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.key{
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2596FF;
    color: #2596FF;
    background: radial-gradient(70.12% 70.12% at 50% 50%, #000 0%, rgba(11, 10, 14, 0.73) 100%);
    font-size: 1.5vw;
    text-transform: uppercase;
}

.finish-border{
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #2596FF;
    animation: finish-border 1s linear infinite;
    left: 90%;
}

.sol-note{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    pointer-events: none;
}

#game-area-icon{
    position: absolute;
    right: -5%;
    opacity: 1;
}

#game-area-icon svg{
    width: 12vw;
    height: 12vw;
}

.countDown{
    width: 100%;
    height: 100vh;
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    color: #2596FF;
    font-family: var(--font-black);
}

.combo-screen{
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vw;
}

.combo-proggress{
    position: relative;
    width: 12vw;
    height: 2vw;
    border-radius: 0.25rem;
    border: 0.991px solid rgba(255, 255, 255, 0.08);
    background: rgba(9, 9, 13, 0.85);
}

.combo-proggress .combo-bar{
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 0.125rem;
    background: linear-gradient(90deg, #2596FF 2.28%, rgba(37, 150, 255, 0.00) 113.47%);
}

.music-icon{
    position: absolute;
}

#icon-1 {
    left: -20%;
    bottom: -80%;
}

#icon-1 svg{
    width: 5vw;
    height: 5vw;
}

#icon-2 {
    left: 25%;
    bottom: 10%;
}

#icon-2 svg{
    width: 4vw;
    height: 4vw;
}

#icon-3 {
    left: 45%;
    bottom: 80%;
}

#icon-3 svg{
    width: 2vw;
    height: 2vw;
    opacity: 0.8;
}

#icon-4 {
    left:70%;
    bottom: -80%;
}

#icon-4 svg{
    width: 2vw;
    height: 2vw;
}

#icon-5 {
    left: 80%;
    bottom: 50%;
}

#icon-5 svg{
    width: 2vw;
    height: 2vw;
}

.message{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 20vw;
    padding-right: 20vw;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-family: var(--font-bold);
}

.message h1{
    position: absolute;
    opacity: 0;
    transform: scale(0.7);
}
