.group-managament {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.group-managament-inner {
    position: relative;
    width: 50vw;
    height: 35vw;
    border-radius: 0.545rem;
    background-image: url(../img/groupBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

.group-header {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.group-header h1 {
    font-size: 1.5vw;
    color: #ADADAD;
    font-family: var(--font-black);
}

.group-menu {
    width: 60%;
}

.group-body {
    width: 100%;
    height: 70%;
    position: relative;
}

.all-groups {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.group-item {
    width: 18vw;
    height: 7vw;
    padding: 1vw;
    border-radius: 0.25rem;
    border: 0.991px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(6.28911018371582px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-image {
    width: 4vw;
    height: 4vw;
}

.group-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-name {
    font-size: 0.6vw;
    color: #fff;
    font-family: var(--font-medium);
}

.group-text {
    width: 55%;
}

.group-count {
    display: flex;
    align-items: center;
    gap: 0.3vw;
    font-size: 0.7vw;
    color: #8C8C8C;
    font-family: var(--font-medium);
}

.group-count svg {
    width: 1vw;
    height: 1vw;
}

.group-date {
    display: flex;
    align-items: center;
    gap: 0.3vw;
    font-size: 0.7vw;
    color: #8C8C8C;
    font-family: var(--font-medium);
}

.group-date svg {
    width: 1vw;
    height: 1vw;
}

.group-button {
    font-size: 0.8vw;
    color: #E4A221;
    cursor: pointer;
    font-family: var(--font-medium);
}

.group-button.full {
    color: #FF2567;
    pointer-events: none;
}

.create-group {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-group-inner {
    width: 30vw;
    height: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    border-radius: 0.25rem;
    border: 0.991px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(6.28911018371582px);
}

.new-group-name {
    width: 80%;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    border-radius: 0.18669rem;
    border: 0.74px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.695868968963623px);
}

.new-group-text {
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
    gap: 1vw;
    color: rgba(226, 226, 226, 0.24);
    font-family: var(--font-medium);
    font-size: 0.8vw;
}

.new-group-text input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-family: var(--font-black);
    font-size: 1.1vw;
}

.group-add-player {
    width: 80%;
    height: 60%;
    border-radius: 0.18669rem;
    border: 0.74px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.695868968963623px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    padding: 1vw;
}

.add-player {
    width: 8vw;
    height: 3vw;
    font-family: var(--font-bold);
    color: #B3B3B3;
    font-size: 0.8vw;
    text-align: center;
    border-radius: 0.22144rem;
    border: 1.181px solid rgba(255, 255, 255, 0.11);
    background: linear-gradient(94deg, rgba(217, 217, 217, 0.05) 1.57%, rgba(217, 217, 217, 0.00) 99.56%);
}

.create-button {
    width: 10vw;
    height: 2vw;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    border: 2.158px solid #E4A221;
    color: #E4A221;
    font-family: var(--font-medium);
    font-size: 0.5vw;
    background: rgba(228, 162, 33, 0.10);
    box-shadow: 0px 0px 16.547px 0px rgba(168, 168, 168, 0.17);
    cursor: pointer;
}

.my-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    overflow: auto;
}

.my-group .group-item {
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vw;
}

.my-group .group-item .group-text {
    width: 80%;
}

.group-item .group-item-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-item-players {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    width: 100%;
}

.group-players-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6vw;
    color: #FF2567;
}

.group-players-header h1 {
    cursor: pointer;
}

.group-players-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.players-item {
    width: 10vw;
    height: 3vw;
    padding: 0.5vw;
    color: #B3B3B3;
    font-size: 0.5vw;
    font-family: var(--font-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.20881rem;
    border: 1.114px solid rgba(255, 255, 255, 0.11);
    background: linear-gradient(94deg, rgba(217, 217, 217, 0.05) 1.57%, rgba(217, 217, 217, 0.00) 99.56%);
}

.players-item svg {
    width: 0.8vw;
    height: 0.8vw;
    cursor: pointer;
}

.pop-up {
    width: 100%;
    height: 97%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.442);
}

.pop-up-inner {
    width: 30vw;
    height: 15vw;
    border-radius: 0.25rem;
    border: 0.991px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(39.150001525878906px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 1vw;
}

.pop-up-inner h1:nth-child(1) {
    font-size: 1.5vw;
    color: #B3B3B3;
    font-family: var(--font-medium);
}

.pop-up-button {
    margin-top: 4vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pop-up-button div {
    width: 10vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.23394rem;
    border: 1.248px solid rgba(255, 255, 255, 0.11);
    background: linear-gradient(94deg, rgba(217, 217, 217, 0.05) 1.57%, rgba(217, 217, 217, 0.00) 99.56%);
}

.pop-up-yes h1{
    font-size: 1vw !important;
}

.pop-up-no h1{
    font-size: 1vw !important;
}