.score-board {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.score-board-inner {
    width: 28vw;
    height: 40vw;
    border-radius: 0.545rem;
    background-image: url(../img/scoreBoardBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    align-items: center;
    padding: 1vw;
}

.score-header {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.score-header h1 {
    font-size: 1.5vw;
    color: #ADADAD;
    font-family: var(--font-black);
    text-transform: uppercase;
}

.score-board-menu {
    width: 75%;
}

.score-board-menu .music-button {
    width: 40%;
}

.score-board-body {
    width: 100%;
    height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
}

.score-board-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius: 0.23356rem;
    border: 1.246px solid rgba(255, 255, 255, 0.11);
    background: linear-gradient(94deg, rgba(217, 217, 217, 0.05) 1.57%, rgba(217, 217, 217, 0.00) 99.56%);
}

.score-item-order {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    color: #B3B3B3;
    font-size: 1vw;
    font-family: var(--font-bold);
}

.score-item-order svg {
    width: 1.3vw;
    height: 1.3vw;
}

.score-item-name {
    color: #B3B3B3;
    font-size: 1vw;
    font-family: var(--font-bold);
    text-align: left;
}

.score-item-score {
    color: #B3B3B3;
    font-size: 1vw;
    font-family: var(--font-bold);
}

.score-board-item:nth-child(1) .score-item-order,
.score-board-item:nth-child(1) .score-item-name,
.score-board-item:nth-child(1) .score-item-score {
    color: #E4A221;
}

.score-board-item:nth-child(1) .score-item-order svg path {
    fill: #E4A221;
}

.score-board-item:nth-child(1) {
    border-radius: 0.23356rem;
    border: 1.246px solid rgba(228, 162, 33, 0.11);
    background: linear-gradient(94deg, rgba(228, 162, 33, 0.05) 1.57%, rgba(217, 217, 217, 0.00) 99.56%);
}