@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', helvetica, arial, sans-serif;
}
body {
  display: inline-block;
  overflow: hidden;
}
#text {
  display: none;
}
#wrap {
  display: none;
  position: relative;
  width: 20%;
  margin: 15% auto 5%;
  overflow: visible;
}
#collar {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
#cylinder {
  display: block;
  background: url('kilit.png');
  background-size: cover;
  width: 47px;
  height: 47px;
  position: absolute;

  top: 37%;
  left: 82.5%;
}
#driver {
  display: block;
  width: 300px;
  height: 140px;
  background: url('tornovida.png');
  background-size: cover;
  position: absolute;
  top: 49%;
  left: 92%;
  transform-origin: -0.2% -2%;
}
#pin {
  display: block;
  background-size: cover;
  width: 3.1304%;
  height: 25.4347%;
  position: absolute;
  left: 87.4%;
  top: 37%;
}
#pin .top {
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0%;
  left: 0;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/95637/pinTop.png');
  background-size: cover;
}
#pin .bott {
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 0;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/95637/pinBott.png');
  background-size: cover;
}