.radarMain{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5vw;

    .radarInner{
        padding: 0.5vw;
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        border-radius: 1.29rem;
        border: 4.467px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(127deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.69) 76.65%);
        box-shadow: 0px 0px 22.933px 14.476px rgba(0, 0, 0, 0.31);
        .radarTop{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50%;
            gap: 0.4vw;
            .centerButton{
                width: 0.8vw;
            }
            .radarTopI{
                position: relative;
                display: flex;
                gap: 0.4vw;
            }
        }
        .radarBottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50%;
            .radarBottomI{
                position: relative;
                display: flex;
                gap: 0.4vw;
                .radarPlate{
                    position: relative;
                }
            }
        }
    }
}