.radarText{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font);
    font-size: 0.5vw;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.69);
    bottom: -3vh;
    img{
        width: 30%;
    }
}