.body {
  width: 100%;
  height: 100%;
  padding: 0 1vw 1vw 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.header {
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3vw;
  h3 {
    font-family: var(--font-satoshi);
    color: #d1d1d1;
    font-size: 1.4vw;
  }
  p {
    color: #fff;
    font-size: 1vw;
    font-family: var(--font-satoshi);
    font-weight: 300;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5vw;
  border-radius: 0.208rem;
  border: 1.109px solid rgba(255, 255, 255, 0.08);
  background: rgba(217, 217, 217, 0.04);
  .text {
    h3 {
      font-family: var(--font-satoshi);
      color: #fff;
      font-size: 1.1vw;
    }
    p {
      color: #858585;
      font-size: 0.8vw;
      font-family: var(--font-satoshi);
      font-weight: 300;
    }
  }
  .action {
    input {
      width: 100%;
      background: none;
      border: none;
      color: #fff;
      font-size: 1vw;
      font-family: var(--font-satoshi);
      font-weight: 300;
      outline: none;
      &::placeholder {
        font-weight: 500;
      }
    }
  }
}

.button {
  display: flex;
  gap: 1vw;
  align-items: center;
  div {
    padding: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add {
    border-radius: 0.3125rem;
    border: 1.3px solid #1fa2ec;
    background: rgba(31, 162, 236, 0.1);
    box-shadow: 0px 0px 17.974px 0px rgba(31, 162, 236, 0.17);
    cursor: pointer;
    font-family: var(--font-satoshi);
    color: #1fa2ec;
    font-size: 1vw;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    &:hover {
      background: rgba(31, 162, 236, 0.3);
    }
  }
  .cancel {
    border-radius: 0.31225rem;
    border: 1.299px solid #d0d0d0;
    background: #d0d0d0;
    box-shadow: 0px 0px 17.96px 0px rgba(31, 162, 236, 0.17);
    cursor: pointer;
    font-family: var(--font-satoshi);
    color: black;
    font-size: 1vw;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    &:hover {
      background: #9e9e9e;
      border: 1.299px solid #9e9e9e;
    }
  }
}

.ambulance{
  .button{
    .add{
      color: #FF3939;
      border: 1.3px solid #FF3939;
      background: rgba(255, 57, 57, 0.1);
      box-shadow: 0px 0px 17.974px 0px rgba(255, 57, 57, 0.17);
      &:hover{
        background: rgba(255, 57, 57, 0.2);
      }
    }
  }
}