@import url('https://fonts.cdnfonts.com/css/panton');
*{
	color: white;
	font-family: 'Panton Narrow', sans-serif;
	font-weight: 500;
	word-wrap: break-word
}

.bigtext{
    font-size: 6vw;
    text-align: center;
    margin: auto;
    padding: 6%;
}

#box-holder {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
}

.box {
    margin-bottom: 10px;
    width: 1899px;
    height: 389px;
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.73) 100%);
}

.part_one {
    position: relative;
    height: 100%;
    width: 21%;
    float: left;
}

.part_two {
    position: relative;
    height: 100%;
    width: 26%;
    float: left;
}

.info-text {
    float: left;
    padding-right: 121px;
    text-align: center;
    font-size: 163px;
    position: relative;
    bottom: 18%;
    width: 100%;
    color: gray;
}

.active {
    color: white !important;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 0px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
}

.price-box{
    position: absolute;
    left: 24%;
    top: 53%;
    width: 934px;
    height: 249px;
}

.opposite-gradient{
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.73) 55%);
}

.part_three{
    height: 100%;
    width: 48%;
    float: left;
}

.progress{
    height: 36%;
    position: relative;
    bottom: 9%;
}

.white-box{
    background: #DBDBDB;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    width: 79px;
    height: 90px;
    border-radius: 10px;
    float: left;
    margin: 6px;
    position: relative;
    top: 21px;
}

.gray-box{
	background: rgba(218.88, 218.88, 218.88, 0.12);
    width: 79px;
    height: 90px;
    border-radius: 10px;
    float: left;
    margin: 6px;
    position: relative;
    top: 21px;
}

.value-text{
	font-size: 37px;
	margin-right: 13px;
	margin-left: 33px;
	position: relative;
	top: 21px;
}

.price-text{
    position: relative;
    top: 21px;
    font-size: 142px;
    font-weight: 500;
    text-align: center;
}

.fuel-text{
	font-size: 69px;
	position: absolute;
	top: 1%;
	left: 22%;
}

.percetange-text{
	font-weight: 500;
	font-size: 180px;
	position: absolute;
	top: -10%;
}

img{
    height: 416px;
    position: absolute;
    top: -4%;
    left: 0%;
}