.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
    padding-top: 0vw;
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vw;
    h3 {
      color: #d1d1d1;
      font-family: var(--font-satoshi);
      font-size: 1.5vw;
    }
    p {
      color: #fff;
      font-family: var(--font-satoshi);
      font-size: 1vw;
    }
  }
  
  .actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  
  .input {
    width: 100%;
    padding: 0.5vw;
    display: flex;
    justify-content: space-between;
    border-radius: 0.208rem;
    border: 1.109px solid rgba(255, 255, 255, 0.08);
    background: rgba(217, 217, 217, 0.04);
    .text {
      display: flex;
      flex-direction: column;
      gap: 0.3vw;
      h4 {
        color: #fff;
        font-family: var(--font-satoshi);
        font-size: 1vw;
      }
      p {
        color: #858585;
        font-family: var(--font-satoshi);
        font-size: 0.8vw;
      }
    }
    input {
      padding-left: 0.4vw;
      width: 50%;
      border-radius: 0.36675rem;
      border: 0.746px solid rgba(255, 255, 255, 0.08);
      background: rgba(255, 255, 255, 0.02);
      color: #fff;
      font-family: var(--font-satoshi);
      font-size: 1vw;
      outline: none;
    }
  }
  
  .buttons {
    display: flex;
    gap: 1vw;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5vw 1vw 0.5vw 1vw;
      font-family: var(--font-satoshi);
      font-size: 1vw;
      cursor: pointer;
    }
    .create {
      border-radius: 0.3125rem;
      border: 1.3px solid #1fa2ec;
      background: rgba(31, 162, 236, 0.1);
      box-shadow: 0px 0px 17.974px 0px rgba(31, 162, 236, 0.17);
      color: #1fa2ec;
    }
    .delete{
        background-color: rgba(255, 57, 57, 0.17);
        border: 1.3px solid #FF3939;
        border-radius: 0.3125rem;
        color: #FF3939;
        box-shadow: 0px 0px 17.974px 0px rgba(255, 57, 57, 0.17);
    }
    .cancel {
      border-radius: 0.31225rem;
      border: 1.299px solid #d0d0d0;
      background: rgba(208, 208, 208, 0.1);
      box-shadow: 0px 0px 17.96px 0px rgba(31, 162, 236, 0.17);
      color: #D0D0D0;
    }
  }
  