:root{
    --warning:linear-gradient(127deg, rgba(41, 7, 13, 0.74) 28.26%, rgba(64, 30, 36, 0.50) 91.2%);
    --info: linear-gradient(127deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.50) 91.2%);
    --success: linear-gradient(127deg, rgba(7, 44, 11, 0.74) 28.26%, rgba(33, 69, 36, 0.50) 91.2%);
    --announcement: linear-gradient(91deg, #092312 2.35%, rgba(7, 7, 7, 0.72) 101.95%);

    --warning-color: #FF002E;
    --info-color: #0075FF;
    --success-color: #3BDA4B;
    --announcement-color: #1FEC65;

    --font: 'Satoshi', sans-serif;
}

.notify-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2vw;
    padding-top: 2vw;
    flex-direction: column;
    overflow: hidden;
    z-index: 5;
}

.notify{
    width: 17vw;
    height: max-content;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 0.51163rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    left: 20vw;
}

.notify-inner{
    width: 100%;
    height: 100%;
    border-radius: 0.509rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.3vw;
}

.notify-icon{
    padding-left: 1vw;
}

.notify-icon svg{
    width: 3vw;
    height: 3vw;
}

.notify-text{
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.notify-text h2{
    font-family: var(--font);
    font-size: 1.2vw;
    font-weight: 900;
}

.notify-text p{
    font-family: var(--font);
    font-size: 0.8vw;
    font-weight: 400;
    color: #fff;
}

.notify-border{
    position: absolute;
    height: 100%;
    border-radius: 0.509rem;
    z-index: 2;
}

.notify.warning .notify-border svg rect{
    fill: var(--warning-color);
}

.notify.info .notify-border svg rect{
    fill: var(--info-color);
}

.notify.success .notify-border svg rect{
    fill: var(--success-color);
}

.notify.announcement{
    background: var(--announcement);
}

.notify.warning{
    background: var(--warning);
}

.notify.info{
    background: var(--info);
}

.notify.success{
    background: var(--success);
}


.notify.announcement .notify-text h2{
    color: var(--announcement-color);
}

.notify.warning .notify-text h2{
    color: var(--warning-color);
}

.notify.info .notify-text h2{
    color: var(--info-color);
}

.notify.success .notify-text h2{
    color: var(--success-color);
}