.body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.input{
    width: 70%;
    padding: 1vw;
    border-radius: 0.41781rem;
    border: 0.955px solid rgba(255, 255, 255, 0.08);
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    p{
        color: rgba(161, 161, 161, 0.84);
        font-family: var(--font-satoshi);
        font-weight: 700;
        font-size: 1vw;
    }
    input{
        width: 100%;
        background: none;
        border: none;
        color: white;
        font-family: var(--font-satoshi);
        font-weight: 700;
        font-size: 1vw;
        outline: none;
        &::placeholder{
            color: rgba(161, 161, 161, 0.34);
        }
    }
}

.button{
    display: flex;
    width: 70%;
    align-items: center;
    gap: 1vw;
    p{
        color: #FFF;
        font-family: var(--font-satoshi);
        font-weight: 700;
        font-size: 1vw;
    }
    .buttonInner{
        width: 5vw;
        height: 2vw;
        position: relative;
        background: rgba(217, 217, 217, 0.05);
        border: 1.02256px solid rgba(255, 255, 255, 0.08);
        border-radius: 17.3835px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .buttonCircle{
            position: absolute;
            width: 1.5vw;
            height: 1.5vw;
            border-radius: 50%;
            background: #fff;
            left: 0.3vw;
        }
    }
}

.create{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.19025rem;
    background: rgba(208, 208, 208, 0.12);
    padding: 1vw;
    transition: 0.3s ease-in-out;
    p{
        color: #737373;
        font-family: var(--font-satoshi);
        font-weight: 700;
        font-size: 1vw;
    }
    &:hover{
        background: rgba(208, 208, 208, 0.2);
    }
}