.body {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 0vw;
  width: 30vw;
  height: 90%;
  border-radius: 0.66144rem;
  pointer-events: all;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #070707 0%,
    rgba(7, 7, 7, 0.96) 100%
  );
}

.userList {
  width: 16vw;
  height: 70%;
  gap: 1vw;
  overflow: visible;
  z-index: 2;
}

.smallIcon{
  position: absolute;
  z-index: 1;
  right: 0.8vw;
  top: 0.3vw;
  cursor: pointer;
  img{
    width: 1.5vw;
    height: auto;
  }
}

.menuHead {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 1vw;
  padding-bottom: 0;
  text-transform: uppercase;
  .headBorder {
    position: absolute;
    top: 0;
    width: 6vw;
    height: 0.4vw;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .crateButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vw;
    cursor: pointer;
    font-weight: 400;
    user-select: none;
    p{
      text-shadow: 0px 0px 20.586px rgba(31, 162, 236, 0.89);
      color: #1FA2EC;
      transition: 0.3s ease-in-out;
      font-size: 1vw;
    }
  }
  h3 {
    color: #1fa2ec;
    font-size: 1vw;
    font-family: var(--font-satoshi);
  }
  p {
    color: #f4f4f4;
    text-shadow: 0px 0px 16.127px rgba(244, 244, 244, 0.88);
    font-size: 0.7vw;
    font-family: var(--font-satoshi);
  }
}

.userListSearch {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1vw;
  border-radius: 0.5rem;
  border: 1.109px solid rgba(255, 255, 255, 0.08);
  background: rgba(217, 217, 217, 0.04);
  padding: 0.5vw;
  svg {
    width: 1vw;
    height: auto;
  }
  input {
    width: 100%;
    background: none;
    border: none;
    color: #f4f4f4;
    font-size: 0.8vw;
    font-family: var(--font-satoshi);
    outline: none;
  }
}

.dragList {
  width: 80%;
  height: 71%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0vw;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.dropList {
  width: 100%;
  padding: 2vw;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.5vw;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.5vw;
  }
}

.police {
  .menuHead {
    .headBorder {
      background-color: #1fa2ec;
      box-shadow: 0px 0px 8vw 0.9vw #1fa2ec;
    }
    .crateButton{
      p{
        text-shadow: 0px 0px 20.586px rgba(31, 162, 236, 0.89);
        color: #1FA2EC;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

.ambulance {
  .menuHead {
    .headBorder {
      background-color: #ff3939;
      box-shadow: 0px 0px 8vw 0.9vw #ff3939;
    }
    h3{
      color: #ff3939;
    }
    .crateButton{
      p{
        text-shadow: 0px 0px 20.586px rgba(255, 57, 57, 0.89);
        color: #FF3939;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
