.plate{
    width: 6vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5vw;
    font-family: var(--font);
    background-image: url("/radar/plate.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #050C23;
    color: #050C23;
    font-weight: 800;
    font-size: 0.8vw;
}