.radarItemHead {
    width: 100%;
    border-radius: 0.23744rem;
    border: 1.266px solid rgba(255, 255, 255, 0.08);
    background: #1da2ec;
    padding: 0.5vw;
    font-family: var(--font-satoshi);
    color: #000;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }